{#
    @author: Eric COURTIAL <e.courtial30@gmail.com>
#}
{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ screenTitle }}</h1>
    <span id="tempMsg">Veuillez patienter...</span>

    {{ include('view/hallOfGameCriteria.html.twig') }}

    <script type="text/javascript">
        var targetUrl = "{{ url('games_home_data') }}";
        require(['pages/home']);
    </script>
{% endblock %}
