{#
    @author: Eric COURTIAL <e.courtial30@gmail.com>
#}
{% extends 'base.html.twig' %}
{% block body %}
    <h1 id="mainTitle">{{ screenTitle }}</h1>
    <span id="tempMsg">Veuillez patienter...</span>

    <div id="contentExample">
        <li>@GAME_NAME@ <a href="@GAME_URL@">Détails</a> - <a href="{{ url('edit_game') }}?id=@GAME-ID@">Editer</a></li>
    </div>

    <div id="listContent"><ul id="gameList"></ul></div>

    <script type="text/javascript">
        var targetUrl = "{{ targetUrl|raw }}";
        var gameDetailUrl = "{{ url('homepage') }}details/";
        require(['pages/list']);
    </script>
{% endblock %}
